@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  color: blueviolet;
}

a {
  color: yellow;
  background-color: black;
}
#blog {
  background-color: darkorange;
}

ul {
  margin: 30px;
}
