h1 {
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 5px solid blue;
  margin: 15px;
}

.esercizio1 {
  width: 300px;
  height: auto;
  padding: 10px;
  border: 2px dashed green;
  margin: 10px;
}

.esercizio2 {
  width: 300px;
  height: auto;
  padding: 10px;
  border: 40px solid purple;
  margin-top: 150px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
}

ul {
  margin-top: 150px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
}

section {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 4px solid orange;
  margin: 15px;
  box-sizing: content-box;
}

.esercizio4 {
  width: 300px;
  height: 150px;
  border: 40px solid red;
  padding: 10px 15px;
  margin: 5px 10px 15px;
}

.esercizio4parte2 {
  width: 300px;
  height: 150px;
  border: 40px solid red;
  padding: 20px;
}
