h1 {
  position: relative;
  bottom: 20px;
  right: 10px;
  border: 3px solid #73ad21;
}

p {
  margin: 15px;
  border: 2px dotted gray;
  position: absolute;
}

img {
  border: 5px solid black;
  position: relative;
}
