* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  text-align: center;
  background-color: red;
  top: 0;
  width: 100%;
  height: 20vh;
}

footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: blue;
  height: 10vh;
}

section {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

div {
  flex: 1;
}

.box1 {
  background-color: blanchedalmond;
}
.box2 {
  background-color: white;
}
.box3 {
  background-color: green;
}

@media (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
  .box2 {
    order: -1;
    flex-basis: 100%;
  }
  .box1,
  .box3 {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  section {
    flex-wrap: wrap;
  }
  .box2 {
    flex-basis: 100%;
  }
  .box1,
  .box3 {
    flex-basis: 100%;
  }
}
